@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@font-face {
  font-family: neon2;
  src: url(./assets/Bastinsondemo-MV57n.otf);
}
@font-face {
  font-family: aaa;
  src: url(./assets/Carry-You.ttf);
}
@font-face {
  font-family: font4;
  src: url(./assets/SunsetClubFreeTrial-2ODpw.otf);
}
.app {
  background-color: rgb(19, 18, 18);
  height: 100vh;
}
.logo {
  font-family: neon2;
}
.nav {
  font-family: aaa;
}
