@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: neon2;
  src: url(./assets/fonts/Bastinsondemo-MV57n.otf);
}
@font-face {
  font-family: aaa;
  src: url(./assets/fonts/Carry-You.ttf);
}
@font-face {
  font-family: font4;
  src: url(./assets/fonts/SunsetClubFreeTrial-2ODpw.otf);
}
@font-face {
  font-family: ll;
  src: url(./assets/fonts/LovelineGlamour-owdE0.ttf);
}
@font-face {
  font-family: sss;
  src: url(./assets/fonts/ShiftyNotesRegular-BWZ6d.ttf);
}

#root {
  height: 100vh;
  width: 100vw;
}
.app {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.logo {
  font-family: neon2;
}
.itemAmt {
  font-family: Nunito;
}
.nav {
  font-family: sss;
}
.home,
.about {
  font-family: sss;
  /* font-size: 72px; */
}
.shop {
  background-color: black;
  font-family: sss;
}
.cartCnt,
.expandCard,
.about,
.thankCnt,
.credit {
  font-family: sss;
}
.credit > li > a {
  color: #d977068a;
}
.num {
  font-family: aaa;
}
.cardContainer {
  overflow-y: scroll;
}
.cardContainer,
.cartItems {
  overflow-y: scroll;
}

.lights {
  text-shadow: 0px 0px 10px #e2e8f0;
}

.ltbtAt {
  grid-row: 4;
}
.glass {
  background: radial-gradient(
    circle,
    rgba(113, 113, 122, 0.6) 0%,
    rgba(63, 63, 70, 0.6) 100%
  );
  backdrop-filter: blur(3rem);
}
.glasses {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  backdrop-filter: blur(0.5rem);
}
.frost {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  backdrop-filter: blur(10px);
}
.yfrost {
  background: linear-gradient(
    0deg,
    rgba(255, 165, 48, 0.2) 0%,
    rgba(255, 165, 48, 0) 100%
  );
  backdrop-filter: blur(10px);
}
.yfrostr {
  background: linear-gradient(
    90deg,
    rgba(255, 165, 48, 0.2) 0%,
    rgba(255, 165, 48, 0) 100%
  );
  backdrop-filter: blur(10px);
}
.block {
  background-color: #d977068a;
}

.Code:hover {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0) scale(1.2);
}
.Code,
.FaGithub {
  transition: transform 0.5s ease-in-out;
}
.FaGithub:hover {
  transform: rotate(720deg) scale(1.2);
}

.odin:hover {
  transform: scale(1.2);
}
